{
    "swagger": "2.0",
    "info": {
        "version": "0.0.2",
        "title": "Digi-API",
        "description": "API for The National Library of Finland."
    },
    "host": "meta.kansalliskirjasto.fi",
    "basePath": "/api",
    "schemes": [
        "http"
    ],
    "paths": {
        "/newspapers/": {
            "get": {
                "tags": [
                    "newspapers"
                ],
                "description": "Returns list of available newspaper titles",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Newspaper"
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/newspapers/{year}": {
            "get": {
                "tags": [
                    "newspapers"
                ],
                "description": "Returns list of available newspaper titles by year",
                "parameters": [
                    {
                        "name": "year",
                        "description": "wanted year",
                        "in": "path",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Newspaper"
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/newspapers/decade/": {
            "get": {
                "description": "Returns list of available journal titles for given decade",
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                }
            }
        },
        "/newspapers/{year}/{month}": {
            "get": {
                "tags": [
                    "newspapers"
                ],
                "description": "Returns list of available journal titles for given year and month",
                "parameters": [
                    {
                        "name": "year",
                        "description": "wanted year",
                        "in": "path",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "month",
                        "description": "wanted month",
                        "in": "path",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Newspaper"
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/journals/": {
            "get": {
                "description": "Returns list of available journal titles",
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                }
            }
        }
    },
    "definitions": {
        "Newspaper": {
            "type": "object",
            "required": [
                "id",
                "title"
            ],
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "title": {
                    "type": "string"
                },
                "logo_url": {
                    "type": "string"
                },
                "publisher_name": {
                    "type": "string"
                },
                "tag": {
                    "type": "string"
                }
            }
        },
        "Error": {
            "type": "object",
            "required": [
                "code",
                "message"
            ],
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                }
            }
        }
    }
}
