swagger: '2.0'
info:
  version: 0.0.2
  title: Digi-API
  description: API for The National Library of Finland.
host: meta.kansalliskirjasto.fi
basePath: /api
schemes:
  - http
paths:
  /newspapers/:
    get:
      tags:
        - newspapers
      description: Returns list of available newspaper titles
      parameters:
        - name: limit
          in: query
          description: number of newspapers to return
          type: integer
          default: 100
          minimum: 100
          maximum: 5000
        - name: order
          in: query
          description: sort by title. For ascending use 'asc' and for descending use 'desc')
          type: string
          default: "asc"
      responses:
        '200':
          description: Successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/Newspaper'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/newspapers/{year}':
    get:
      tags:
        - newspapers
      description: Returns list of available newspaper titles by year
      parameters:
        - name: year
          description: wanted year
          in: path
          type: integer
          required: true
        - name: limit
          in: query
          description: number of newspapers to return
          type: integer
          default: 100
          minimum: 100
          maximum: 5000
        - name: order
          in: query
          description: sort by title. For ascending use 'asc' and for descending use 'desc')
          type: string
          default: "asc"
      responses:
        '200':
          description: Successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/Newspaper'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/newspapers/{year}/{month}':
    get:
      tags:
        - newspapers
      description: Returns list of available newspaper titles for given year and month
      parameters:
        - name: year
          description: wanted year
          in: path
          type: integer
          required: true
        - name: month
          description: wanted month
          in: path
          type: integer
          required: true
        - name: limit
          in: query
          description: number of newspapers to return
          type: integer
          default: 100
          minimum: 100
          maximum: 5000
        - name: order
          in: query
          description: sort by title. For ascending use 'asc' and for descending use 'desc')
          type: string
          default: "asc"
      responses:
        '200':
          description: Successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/Newspaper'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/newspapers/{id}':
    get:
      tags:
        - newspapers
      description: Returns details of given newspaper
      parameters:
        - name: id
          description: ID of wanted newspaper
          in: path
          type: integer
          required: true
      responses:
        '200':
          description: Successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/Newspaper'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/newspapers/decade/{decade}':
    get:
      description: "Returns list of available newspaper titles for given decade. Path parameter 'decade' is expected to be 4-digit integer. For example '/newspapers/decade/2000' returns titles for 2000-2009."
      parameters:
        - name: decade
          description: wanted decade
          in: path
          type: integer
          required: true
        - name: limit
          in: query
          description: number of newspapers to return
          type: integer
          default: 1000
          minimum: 1000
          maximum: 50000
        - name: order
          in: query
          description: sort by title. For ascending use 'asc' and for descending use 'desc')
          type: string
          default: "asc"
      responses:
        '200':
          description: Successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/Newspaper'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Newspaper:
    type: object
    required:
      - id
      - title
    properties:
      id:
        type: integer
        format: int64
      title:
        type: string
      logo_url:
        type: string
      publisher_name:
        type: string
      tag:
        type: string
  Error:
    type: object
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
