---
swagger: "2.0"
info:
  description: "Newspapers and journals meta data API for The National Library of\
    \ Finland. Created with help of apiops.net community in various APIOps Jams"
  version: "0.0.2"
  title: "Digi-API"
host: "meta.kansalliskirjasto.fi"
basePath: "/api"
schemes:
- "http"
paths:
  /newspapers/:
    get:
      tags:
      - "newspapers"
      description: "Returns list of available newspaper titles"
      parameters:
      - name: "limit"
        in: "query"
        description: "number of newspapers to return"
        required: false
        type: "integer"
        default: 100
        maximum: 5000.0
        minimum: 100.0
      - name: "order"
        in: "query"
        description: "sort by title. For ascending use 'asc' and for descending use\
          \ 'desc')"
        required: false
        type: "string"
        default: "asc"
      responses:
        200:
          description: "Successful response"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Newspaper"
        default:
          description: "unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "newspapers"
  /newspapers/decade/{decade}:
    get:
      description: "Returns list of available newspaper titles for given decade. Path\
        \ parameter 'decade' is expected to be 4-digit integer. For example '/newspapers/decade/2000'\
        \ returns titles for 2000-2009."
      parameters:
      - name: "decade"
        in: "path"
        description: "wanted decade"
        required: true
        type: "integer"
      - name: "limit"
        in: "query"
        description: "number of newspapers to return"
        required: false
        type: "integer"
        default: 1000
        maximum: 50000.0
        minimum: 1000.0
      - name: "order"
        in: "query"
        description: "sort by title. For ascending use 'asc' and for descending use\
          \ 'desc')"
        required: false
        type: "string"
        default: "asc"
      responses:
        200:
          description: "Successful response"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Newspaper"
        default:
          description: "unexpected error"
          schema:
            $ref: "#/definitions/Error"
  /newspapers/id/{id}:
    get:
      tags:
      - "newspapers"
      description: "Returns details of given newspaper"
      parameters:
      - name: "id"
        in: "path"
        description: "ID of wanted newspaper"
        required: true
        type: "integer"
      responses:
        200:
          description: "Successful response"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Newspaper"
        default:
          description: "unexpected error"
          schema:
            $ref: "#/definitions/Error"
  /newspapers/{year}:
    get:
      tags:
      - "newspapers"
      description: "Returns list of available newspaper titles by year"
      parameters:
      - name: "year"
        in: "path"
        description: "wanted year"
        required: true
        type: "integer"
      - name: "limit"
        in: "query"
        description: "number of newspapers to return"
        required: false
        type: "integer"
        default: 100
        maximum: 5000.0
        minimum: 100.0
      - name: "order"
        in: "query"
        description: "sort by title. For ascending use 'asc' and for descending use\
          \ 'desc')"
        required: false
        type: "string"
        default: "asc"
      responses:
        200:
          description: "Successful response"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Newspaper"
        default:
          description: "unexpected error"
          schema:
            $ref: "#/definitions/Error"
  /newspapers/{year}/{month}:
    get:
      tags:
      - "newspapers"
      description: "Returns list of available newspaper titles for given year and\
        \ month"
      parameters:
      - name: "year"
        in: "path"
        description: "wanted year"
        required: true
        type: "integer"
      - name: "month"
        in: "path"
        description: "wanted month"
        required: true
        type: "integer"
      - name: "limit"
        in: "query"
        description: "number of newspapers to return"
        required: false
        type: "integer"
        default: 100
        maximum: 5000.0
        minimum: 100.0
      - name: "order"
        in: "query"
        description: "sort by title. For ascending use 'asc' and for descending use\
          \ 'desc')"
        required: false
        type: "string"
        default: "asc"
      responses:
        200:
          description: "Successful response"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Newspaper"
        default:
          description: "unexpected error"
          schema:
            $ref: "#/definitions/Error"
definitions:
  Newspaper:
    type: "object"
    required:
    - "id"
    - "title"
    properties:
      id:
        type: "integer"
        format: "int64"
      title:
        type: "string"
      logo_url:
        type: "string"
      publisher_name:
        type: "string"
      tag:
        type: "string"
  Error:
    type: "object"
    required:
    - "code"
    - "message"
    properties:
      code:
        type: "integer"
        format: "int32"
      message:
        type: "string"
